*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #16191E;
}
h3{
    font-size: 50px;
}
h5{
    font-size: 30px;
}
.loader{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #ffffff;
    position: absolute;
}
.loader>div{
    height: 100px;
    width: 100px;
    border: 5px solid #45474b;
    border-top-color: #9569ce;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    animation: spin 0.5s infinite linear;
}
@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}